/*CSS for submit button*/
.submit-button {
    background-color: 
    color: white; 
    padding: 12px 20px;
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 16px; 
  }
  
  .submit-button:hover {
    background-color: #45a049; /* Darker green */
  }
  